html,
body {
    height: 100%;
    min-height: 100vh;
    min-height: -moz-available; /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    min-height: stretch;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

$header-color: #333366;
$background-color: #ffffff;
$main-color: #ff7900;
$second-color: #333366;
$card-shadow: rgba(51, 51, 102, 0.5);
