@import "../../../App.scss";

.admin-page-block {
    width: 60%;
    height: 80%;

    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: $second-color;
    box-shadow: 0 0 10px $card-shadow;
}